h1,
h3 {
  font-weight: 600;
}

/* Bolinha vermelha para novas mensagens */
.tem-novas::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin-left: 6px;
}

/* Transição suave nos modais */
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(-20px);
}
.modal.show .modal-dialog {
  transform: translateY(0);
}

/* Mensagens e Chat */
.mensagem-item,
.chat-msg {
  background: #00ce0010;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.205);
  transition: all 0.2s ease;
}

#chat-professores {
  max-height: 400px;
  overflow-y: auto;
}

textarea {
  resize: none;
}
